trigger:
  branches:
    include:
      - main
      - feature/*

pool:
  name: monukaagent

parameters:
- name: initfmtvalidateRequired
  type: string
  default: 'true'
  values:
    - 'true'
    - 'false'

- name: initplanRequired
  type: string
  default: 'true'
  values:
    - 'true'
    - 'false'

- name: scanningrequired
  type: string
  default: 'false'
  values:
    - 'true'
    - 'false'

- name: terraforminitapplyrequired
  type: string
  default: 'false'
  values:
    - 'true'
    - 'false'

stages:

  - stage: Build
    displayName: "Build Stage"
    jobs:

      - job: terraforminitfmtvalidate
        displayName: 'Terraform Init, Fmt, Validate'
        condition: eq('${{ parameters.initfmtvalidateRequired }}', 'true')
        steps:
          - task: TerraformTask@5
            displayName: 'Terraform Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              commandOptions: '-reconfigure'
              backendServiceArm: 'viren_connect'
              backendAzureRmOverrideSubscriptionID: 'cefa80e5-9af0-4e4a-9f43-e0a0491a5473'
              backendAzureRmResourceGroupName: 'sharad-rg'
              backendAzureRmStorageAccountName: 'sharadstorage777'
              backendAzureRmContainerName: 'shconatiner'
              backendAzureRmKey: 'viren123.tf'

          - task: TerraformTask@5
            displayName: 'Terraform FMT'
            inputs:
              provider: 'azurerm'
              command: 'custom'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              outputTo: 'console'
              customCommand: 'fmt'
              environmentServiceNameAzureRM: 'viren_connect'
              environmentAzureRmOverrideSubscriptionID: 'cefa80e5-9af0-4e4a-9f43-e0a0491a5473'

          - task: TerraformTask@5
            displayName: 'Terraform Validate'
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'

      - job: terraforminitplan
        displayName: 'Terraform Init & Plan'
        condition: eq('${{ parameters.initplanRequired }}', 'true')
        steps:
          - task: TerraformTask@5
            displayName: 'Terraform Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              commandOptions: '-reconfigure'
              backendServiceArm: 'viren_connect'
              backendAzureRmOverrideSubscriptionID: 'cefa80e5-9af0-4e4a-9f43-e0a0491a5473'
              backendAzureRmResourceGroupName: 'sharad-rg'
              backendAzureRmStorageAccountName: 'sharadstorage777'
              backendAzureRmContainerName: 'shconatiner'
              backendAzureRmKey: 'viren123.tf'

          - task: TerraformTask@5
            displayName: 'Terraform Plan'
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              environmentServiceNameAzureRM: 'viren_connect'
              environmentAzureRmOverrideSubscriptionID: 'cefa80e5-9af0-4e4a-9f43-e0a0491a5473'

  - stage: Scan
    displayName: "Scanning wala job"
    jobs:
      - job: terraformscan
        displayName: Terraform Scan
        condition: eq('${{ parameters.scanningrequired }}', 'true')
        steps:
          - task: tfsec@1
            displayName: 'Run tfsec Scan'
            inputs:
              version: 'v1.26.0'
              dir: '$(System.DefaultWorkingDirectory)/infra'

  - stage: Apply
    displayName: "Terraform Apply Stage"
    jobs:
      - job: terraformapply
        displayName: Terraform Apply
        condition: eq('${{ parameters.terraforminitapplyrequired }}', 'true')
        steps:
          - task: TerraformTask@5
            displayName: 'Terraform Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              commandOptions: '-reconfigure'
              backendServiceArm: 'viren_connect'
              backendAzureRmOverrideSubscriptionID: 'cefa80e5-9af0-4e4a-9f43-e0a0491a5473'
              backendAzureRmResourceGroupName: 'sharad-rg'
              backendAzureRmStorageAccountName: 'sharadstorage777'
              backendAzureRmContainerName: 'shconatiner'
              backendAzureRmKey: 'viren123.tf'

          - task: TerraformTask@5
            displayName: 'Terraform Apply'
            inputs:
              provider: 'azurerm'
              command: 'apply'
              workingDirectory: '$(System.DefaultWorkingDirectory)/infra'
              environmentServiceNameAzureRM: 'viren_connect'
              environmentAzureRmOverrideSubscriptionID: 'cefa80e5-9af0-4e4a-9f43-e0a0491a5473'
